/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- 07 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    overflow-x:hidden;
  }
  
  body {
    font-family: "PT Serif", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    overflow-x:hidden;
  }


  .container {
    /* 1140px */
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }
  
  .grid {
    display: grid;
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  
    /* margin-bottom: 9.6rem; */
  }
  
  /* .grid:last-child {
    margin-bottom: 0;
  } */
  
  .grid:not(:last-child) {
    margin-bottom: 9.6rem;
  }
  
  .grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .grid--5-cols {
    grid-template-columns: repeat(5, 1fr);
  }
  
  .grid--center-v {
    align-items: center;
  }

  /**************************/
/* Media Queries */
/**************************/


@media (max-width: 79em){
  .testimonial-text{
    font-size: 2.0rem;
    line-height: 1.8;
    }

  .testimonial-name{
font-size: 1.6rem;
  }

}

@media (max-width: 73em){
  html {
    font-size: 56.25%;
  }

}

@media (max-width: 68em){
  .heading-primary{
    font-size: 5.2rem;
  }
  .heading-secondary{
    font-size: 3.6rem;
  }
  /* .grid--2cols{
    column-gap: 4.8rem;
    row-gap: 8.0rem;
  } */
  .plan-text{
    font-size: 1.4rem;
  }
  .plan-name{
    font-size: 2.0rem;
  }
  .plan-sub-name{
    font-size: 1.4rem;
  }
  .plan-price{
    font-size: 1.4rem;
  }
  .step-description{
    font-size: 2.0rem;
  }
  .how-it-works-title{
    font-size: 3.0rem;
  }
  .how-it-works-description{
    font-size: 1.8rem;
  }
}

@media (max-width: 62em){
 html {
   font-size: 52%;
 }
 .main-nav-list{
   gap: 0 3.2rem;
 }
}

@media (max-width: 56em){
  html {
    font-size: 50%;
  }
  .pricing-plan{
    padding: 2.8rem;
  }
  .list-item{
    font-size: 1.6rem;
  }
  .how-it-works-list{
    font-size: 1.8rem;
  }
  strong{
    font-size: 2.4rem;
  }
 }

 @media(max-width: 48em){
  .btn-mobile-nav{
    display:block;
  }

  /* .hero-img{
    height: 600px;
    width: 600px;
  } */
  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
 
  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 3.6rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

.hero{
  grid-template-columns: 1fr;
}

.hero-text-box{
  text-align: center;
}

.grid--2-cols{
  grid-template-columns: 1fr;
  text-align: center;
}

.step-description{
  font-size: 2.6rem;
  text-align: left;
  
}

.heading-tertiary{
  font-size: 1.8rem;
}

.step-img-box{
  flex-column: 1/ -1;
  justify-self: center;
}

.how-it-works-list{
  font-size: 2.4rem;
}

.how-it-works-description{
  font-size: 2.4rem;
  text-align: left;
  padding-left: 1.8rem;
  
}
.how-it-works-title{
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}
.testimonial-text{
  font-size: 2.4rem;
  text-align: left;
}
.testimonial-name{
  font-size: 1.8rem;
}
.pricing-plan--starter{
  
  justify-self: center;
}
.pricing-plan--complete{
  justify-self: center;
}
.plan-text{
  font-size: 1.4rem;
}
.plan-name{
  font-size: 2.8rem;
}
.plan-sub-name{
  font-size: 1.8rem;
}
.plan-price{
  font-size: 2.0rem;
}
.plan-text{
  font-size: 1.8rem;
  text-align: left;
}
.pricing-plan{
  padding:4.2rem;
  width:60%
}
.heading-primary{
  font-size: 3.6rem;
}
 }
 @media(max-width: 38em ){
   /* .grid{
     row-gap:4.8rem;
   } */
   .grid--2-cols,
   .grid--3-cols,
   .grid--4-cols{
     grid-template-columns: 1fr;
   }
   .plan-text{
    font-size: 1.4rem;
    text-align: left;
    line-height: 1.6;
  }
  .plan-price{
    font-size: 1.6rem;
    font-weight: 500;
    color:#333;
    margin-bottom: 1.6rem;
    }

    .plan-price span{
        font-weight: 500;
        margin-right: 0.8rem;
    }

    .plan-price{
      font-size: 1.6rem;
      font-weight: 500;
      color:#333;
      margin-bottom: 1.6rem;
      }
  
      .plan-price span{
          font-weight: 500;
          margin-right: 0.6rem;
      }
      .plan-sign-up{
        font-size: 1.2rem;
        text-transform: none;
      }
      .list-item{
        font-size: 1.4rem;
        display:flex;
        align-items: center;
        
      }
      .list-item:nth-last-child(1){
        margin-bottom: 3.9rem;
      }
      .button:link,
    .button:visited{
        display:inline-block;
        line-height: 1.2rem;
        color:#fff;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 1.2rem 4.8rem;
        border-radius: 3px;
        transition: all 0.3s;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
 }



 


