/**************************/
/* HERO SECTION */
/**************************/

.section-hero{
    background-color:#fdf2e9 ;
    padding: 4.8rem 0 9.6rem 0;
}

.hero{
    max-width: 120rem;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
   align-items: center;
   gap: 9.6rem;
   padding: 0 3.2rem;

}

.heading-primary{
    font-weight: 400;
    font-size: 6.2rem;
    line-height: 1.05;
    color:#333;
    margin-bottom: 3.2rem;
}

.hero-description{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.slider{
 overflow: hidden;
}

.slider figure{
 position: relative;
 width:500%;
 margin: 0;
 left: 0;
 animation: 20s slider infinite;;
}


.slider figure img{
 width: 20%;
 float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
    75%{
        left: -300%;
    }
    85%{
        left: -300%;
    }

	90%{
        left:-400%;
    }
	100% {
		left: -400%;
	}
}

.hero-img{
    border: 8px solid #fff;

}

.btn:link,
.btn:visited{
    display:inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color:#fff;
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1.6rem 4.8rem;
    border-radius: 3px;
    transition: all 0.3s;
    line-height: 1.6;
}

.btn--full:link,
.btn--full:visited{
    background-color: #2e1907;
}

.btn--full:hover,
.btn--full:active{
    background-color: #000000;
}

/**************************/
/* NAVIGATION */
/**************************/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem 0 4.8rem;
    position: relative;
}

.title{
    text-decoration: none;
    font-size: 2.6rem;
    color:#000;
}

.heading-primary{
    color:#000;
    font-size: 6.2rem;
}

.main-nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 4.8rem;

}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #45260a;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited{
 padding: 1.2rem 2.4rem;
 border-radius: 9px;
 color:#fff;
 background-color: #2e1907;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active{
    background-color: #000;
}

/* MOBILE */
.btn-mobile-nav{
    border: none;
    background-color: none;
    cursor: pointer;

    display:none;

}

.icon-mobile-nav{
 height: 4.8rem;
 width:4.8rem;
 color:#333;
}

.icon-mobile-nav[name="close-outline"]{
display:none;
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.section-how {
    padding: 9.6rem 0;
  }
  
  .step-img{
      width: 80%;
  }

  .step-description{
      font-size: 2.4rem;
      line-height: 1.8;
      color:#000;
  }

  .heading-tertiary{
      font-size: 1.6rem;
      color:#000;
      margin-bottom: 1.2rem;

  }

  .icon-text{
      width: 4.0rem;
      height: 4.0rem;
      color: #746727;

     
  }

  .hot-it-works-feature{
     list-style: none;
     display:flex;
     flex-direction: column;
     gap: 4rem;
     

  }

  .how-it-works-list{
      font-size: 2.0rem;
      color:#000;
      display: flex;
      align-items: center;
      gap:1.6rem;
  }

  strong{
      font-size:3.0rem;
      font-weight: 500;
  }

  .div{
      background-color: #c8c098;
     
  }

  .how-it-works-title{
      font-weight: 500;
      font-size: 3.6rem;
      color:#000;
      margin-bottom: 1.2rem;
  }

  .how-it-works-description{
      font-size: 2.0rem;
      color: black;
      line-height: 1.8;
      margin-bottom: 1.2rem;
      margin-bottom: 4.8rem;
  }

  .step-image{
      width:95%;
  }

  /**************************/
/* TESTIMONIAL SECTION */
/**************************/

.section-testimonials{
    padding: 9.6rem ;
    background-color: #fdf2e9;
    align-items: center;
}

.testimonial-text{
    font-size: 2.4rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
    color:#000;
}

.testimonial-name{
    font-size: 1.8rem;
    color:#333;
    margin-bottom: 4.8rem;
}


/* .gallery{
    display: grid;
    grid-template-columns: (2, 1fr);
    
} */

.gallery img{
    display: block;
    width:100%;
    border: 8px solid #fff;
   
}


 /**************************/
/* PRICING SECTION */
/**************************/
.pricing{
    padding:9.6rem 0;
  
    
}

.pricing-plan{
     border-radius: 11px;
    width: 75%;
    padding:4.2rem;
   
}

.pricing-plan--starter {
    justify-self: end;
    
}

.pricing-plan--complete{
    
    border: 1px solid #e9ecef;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.heading-secondary{
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
    color:#000;
  }

  .center-text {
    text-align: center;
  }

  .heading-secondary-description{
      font-size: 1.8rem;
      color:#000;
      line-height: 1.6;
      margin-bottom: 6.4rem;
  }
  
  .list{
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
  }

  .list-item{
    font-size: 1.8rem;
    display:flex;
    align-items: center;
    gap: 1.6rem;
    
  }

  .list-icon{
      width: 3rem;
      height: 3rem;
      color: #000;
  }

  
    .button:link,
    .button:visited{
        display:inline-block;
        margin-top: 2.8rem;
        line-height: 1rem;
        color:#fff;
        text-decoration: none;
        font-size: 1.4rem;
        padding: 1.2rem 8.0rem;
        border-radius: 3px;
        transition: all 0.3s;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    
    .plan-header{
        text-align: center;
        margin-bottom: 4.8rem;
    }

    .plan-name{
      color:#000;
      font-size: 2.4rem;
      font-weight: 600;
      letter-spacing: 0.75;
      margin-bottom: 1.4rem;
    }
  
    .plan-sub-name{
        color:#333;
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: 0.75;
        margin-bottom: 2.4rem;
    }

    .plan-price{
    font-size: 1.6rem;
    font-weight: 500;
    color:#333;
    margin-bottom: 1.6rem;
    }

    .plan-price span{
        font-weight: 500;
        margin-right: 0.6rem;
    }

    .plan-text{
     font-size: 1.6rem;
     line-height: 1.6;
     color:#000;
    }

    .plan-price{
        font-size: 1.6rem;
        font-weight: 500;
        color:#333;
        margin-bottom: 1.6rem;
        }
    
        .plan-price span{
            font-weight: 500;
            margin-right: 0.6rem;
        }

 /**************************/
/* FOOTER */
/**************************/


.footer{
    padding:9.6rem;
    background-color: #fdf2e9;
}

.footer h1{
    text-transform: uppercase;
    text-decoration: none;
    color:#000;
    font-size: 2.0rem;  
    margin-bottom: 3.2rem;
}
.footer-heading{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 4.0rem;
}
.footer-nav {
     list-style: none;
     display:flex;
     flex-direction: column;
     gap:2.4rem;
 }

 .footer-link:link,
 .footer-link:visited{
     text-decoration: none;
     font-size: 1.6rem;
     color:#767676;
     transition: all 0.3s;
 }

 .footer-link:hover,
 .footer-link:active{
     color:#555;

 }

.copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color:#767676;
    margin-top: auto;
    
}
.logo{
    display: flex;
    flex-direction: column;
   
}